.profile-page {
  width: 100%;
  padding: 20px;
}

.profile-title,
.profile-subtitle {
  text-align: center;
}

body.light .profile-subtitle,
body.light .profile-title {
  color: black;
}

body.dark .profile-subtitle,
body.dark .profile-title {
  color: white;
}


.profile-panels {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  align-items: flex-start;
}

.panel-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.panel-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: sticky;
  top: 250px;
  flex-shrink: 0;
  width: 35%;
  max-width: 350px;
  padding: 20px;
  text-align: center;
  align-items: center;

}

.profile-box {
  background: var(--box-bg, #151515);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  color: var(--text-color);
}

body.light .profile-box {
  background: #ffffff;
  color: #111;
}

body.dark .profile-box {
  background: #151515;
  color: white;
}

.profile-box h3{
  margin-bottom: 10px;
}